* {
  box-sizing: border-box;
}

body {
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-select {
  width: 200px;
}

.day-container {
  margin-top: 100px;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.text-left {
  text-align: left;
}

.font-size-5rem {
  font-size: 5rem;
  text-align: center;
}

.daily-weather {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

.daily-weather-container {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 100%;
}
